:root {
    --background-color: #9c4300;
    --primary-color: #f1f1f1;
    --custom-black: #1e1e1e;
    --sand-color: #f0ad00;
    --stone-color: #7b6f83;
    --water-color: #4fa6eb;
    --forest-color: #517d19;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--custom-black);
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*///// Hexagon /////*/

.hexagon {
    width: 3em;
    height: calc(3em * .8660254);
    color: var(--primary-color);
    position: relative;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
}



.hexagon::before,
.hexagon:after {
    content: "";
    display: block;
    padding-bottom: 86.60254%;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    background-color: var(--primary-color);
    z-index: 1;
    transition: transform 1s;
    transform: rotate(0deg);
}

.hexagon::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--custom-black);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    transform: rotate(0deg) scale(.9);
}

.hexagon>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hexagon>svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*////////////// Loader ///////////////////*/

#loader,
#loader>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow: hidden;
}

#loader>div {
    background-color: var(--background-color);
}

#loader .hexagon {
    font-size: 4em;
    animation: scaleIn .4s 1, loader 6s infinite .4s;
}

#loader.loaded>div {
    animation: scaleOut 1s 1 forwards;
}

@keyframes scaleIn {
    from {
        transform: rotate(-60deg) scale(0);
    }

    to {
        transform: rotate(0) scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(10);
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    16.67% {
        transform: rotate(60deg);
    }

    33.33% {
        transform: rotate(120deg);
    }

    50% {
        transform: rotate(180deg);
    }

    66.66% {
        transform: rotate(240deg);
    }

    83.33% {
        transform: rotate(300deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    width: 86%;
    margin: 0 auto;
}

/*///// Header /////*/
header {
    position: fixed;
    z-index: 2;
    height: 10vh;
    width: 100%;
    font-size: 30px;
    color: var(--primary-color);
    background-color: transparent;
    text-transform: uppercase;
}

header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hexagon>svg {
    width: 1em !important;
}

header nav {
    width: auto;
}

header ul {
    padding-left: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header li {
    margin: 0 1em 2px;
}

header .navigationLink:hover {
    border-bottom: var(--primary-color) 2px solid;
    margin-bottom: 0;
}


#gamenightOverview,
#gamenightMaker,
#library {
    min-height: 100vh;
    background-color: var(--custom-black);
    padding: 150px 7% 0;
    box-sizing: border-box;
}

/*///// Big hexagons on homepage --> see sources /////*/
.hex-grid__list {
    --amount: 5;
    --counter: 1;
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    column-gap: 3vw;
    row-gap: 2vw;
}

.hex-grid__item {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    height: 0;
    padding-bottom: 86%;
}

.hex-grid__item:nth-of-type(n + 6) {
    --counter: 2;
}

.hex-grid__item:nth-of-type(n + 11) {
    --counter: 3;
}

.hex-grid__item:nth-of-type(n + 16) {
    --counter: 4;
}

.hex-grid__item:nth-of-type(5n + 1) {
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/ span 2;
}

.hex-grid__item:nth-of-type(5n + 2) {
    grid-column: 3 / span 3;
}

.hex-grid__item:nth-of-type(5n + 3) {
    grid-column: 5 / span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/ span 2;
}

.hex-grid__item:nth-of-type(5n + 4) {
    grid-column: 7 / span 3;
}

.hex-grid__item:nth-of-type(5n + 5) {
    grid-column: 9 / span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1)/ span 2;
}

.hex-grid__content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    box-sizing: border-box;
    padding: 2rem 25%;
}

/* End of hexagons */

/* ///// Gamenight list ///// */

#addGameNight {
    background-color: var(--background-color);
    opacity: .7;
    transition: opacity .2s;
}


#addGameNight:hover {
    opacity: 1;
}


#addGameNight>p {
    font-size: 15vw;
    margin: 0;
    text-align: center;
    width: 100%;

    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--primary-color)
}

.hex-gamenight {
    background-size: cover;
    color: var(--custom-black);
}

.hex-gamenight>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 25%;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hex-gamenight p {
    margin: 0;
}

.homeGameNightInfo {
    opacity: 0;
    transition: opacity .3s;
}

.sand .homeGameNightInfo {
    background-color: var(--sand-color);
}

.forest .homeGameNightInfo {
    background-color: var(--forest-color);
}

.water .homeGameNightInfo {
    background-color: var(--water-color);
}

.stone .homeGameNightInfo {
    background-color: var(--stone-color);
}

.hex-gamenight:hover .homeGameNightInfo {
    opacity: 1;
}

.stone {
    background-color: var(--stone-color);
    background-image: url(./img/stone.svg);
}

.water {
    background-image: url(./img/water.svg);
    background-color: var(--water-color);
}

.sand {
    background-image: url(./img/sand.svg);
    background-color: var(--sand-color);
}

.forest {
    background-image: url(./img/forest.svg);
    background-color: var(--forest-color);
}


#gamenights {
    min-height: 100vh;
    background-color: var(--background-color);

    padding: 0 7%;
}

#gamenightList {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1vw;
    margin-top: 25px;
}

.gamenightCard {
    grid-column: 2/ span 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 20px;

    background-color: var(--primary-color);

    margin: 50px 0;
    padding: 50px 0;
}

.gamenightCard h1 {
    grid-column: 1/ span 10;

    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}

.gamenightCard h2 {
    grid-column: 2/span 8;
    grid-row: 4/span 1;

    font-size: 25px;
    margin: 10px 0 0;
}

.gamenightCard p {
    font-size: 20px;
}

.gamenightCardAddress {
    grid-row: 2/ span 1;
    grid-column: 2/span 3;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gamenightCardAddress p,
.gamenightCardTime p {
    width: calc(100% - 3em);

    box-sizing: border-box;
    padding-left: 1em;
    margin: 0;
}


.gamenightCardTime {
    grid-row: 2/ span 1;
    grid-column: 7/ span 2;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gamenightCardGuests {
    grid-row: 3/ span 1;
    grid-column: 2/span 3;
}

.gamenightCardGuests>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gamenightCardCategories {
    grid-row: 3/ span 1;
    grid-column: 7/ span 2;
}

.gamenightCardGames {
    display: grid;
    grid-row: 5/ span 1;
    grid-column: 2/ span 8;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1vw;
    row-gap: 1vw;
}

.gamenightGame {
    grid-column: auto/span 4;
    grid-row: auto/span 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1vw;

    box-sizing: border-box;

    border: 1px solid black;
}

.gamenightGame img {
    grid-column: 1/span 2;
    width: 100%;
}

.gamenightGame>div {
    grid-column: 3/span 2;
}

.gamenightGame h3 {
    margin: 15px 0;
}

.gamenightGame dd {
    font-size: 20px;
    margin: 0 0 10px;
}


.iconHexagon {
    position: relative;
    width: 3em;
}

.smallHexagon {
    width: 2em;
}

.iconHexagon::before,
.iconHexagon::after {
    content: "";
    display: block;

    /* Padding bottom to ensure correct dimensions for hexagons */
    padding-bottom: 86.60254%;
    background-color: black;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    z-index: 1;
}

.iconHexagon::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transform: scale(.9);
}

.iconHexagon>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
}

#gamenightMaker {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-top: 10vh;
}

#makeGamenightForm {
    width: 100%;
}

#makeGamenightForm input {
    display: none;
}

#makeGamenightForm .tab {
    display: none;
    width: 100%;
    /* height: 65vh; */
    padding: 0 7vw;
    box-sizing: border-box;
}

#makeGamenightForm .tab>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#makeGamenightForm .tab>p {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-color);

}

#formNavigation {
    padding: 0 29vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
}

#formNavigation #formPrevious {
    justify-self: flex-start;
}

#formNavigation #formNext {
    justify-self: flex-end;
}

#formNavigation .hexagon {
    font-size: 2.24vw;
}

#formNavigation .hexagon:disabled {
    color: #808080;
}

#formNavigation .hexagon:disabled::before {
    background-color: #808080;
}


#makeGamenightForm .tab>div>div:not(#numberContainer, #categoryContainer)>.hexagon {
    font-size: 4.48vw;
    /* margin: 0 7vw; */
}

#makeGamenightForm #numberContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
    /* min-height: 250px; */
}

#makeGamenightForm #numberContainer .hexagon {
    font-size: 2vw;
}

#makeGamenightForm #timeContainer {
    color: var(--primary-color);
    font-size: 80px;

    display: flex;
    justify-items: center;
    align-items: center;
}

#makeGamenightForm #timeContainer>p {
    margin: 0;
}

#makeGamenightForm #categoryContainer {
    width: 100%;
    margin: 0 0 4.48vw;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#makeGamenightForm #categoryContainer label {
    font-size: 2.24vw !important;
    align-self: center;
    justify-self: center;
}

#makeGamenightForm #categoryContainer label p {
    margin: 4.48vw 0 0;
    font-size: 0.7em;
}

input[type="checkbox"]:checked+.hexagon>svg {
    color: var(--custom-black);
}

input[type="checkbox"]:checked+.hexagon:after {
    background-color: var(--primary-color);
}

#makeGamenightForm #practicalContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#makeGamenightForm #practicalContainer div:first-child {
    width: 50%;
    box-sizing: border-box;
}

#makeGamenightForm #practicalContainer div:first-child {
    margin-left: 7vw;
}

#makeGamenightForm #practicalContainer div:last-child {
    margin-right: 7vw;
}

#makeGamenightForm #practicalContainer input {
    display: block;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    border-bottom: 3px var(--primary-color) solid;
    font-size: 2vw;
}

#makeGamenightForm #practicalContainer input:first-child {
    margin-bottom: 50px;
}

#makeGamenightForm #practicalContainer input:after {
    color: var(--primary-color);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    display: none;
}


section#library {
    display: none;
    position: relative;
}

#library #libraryBtns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#libraryBtns #newGame {
    grid-column: 2/span 2;
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    border: none;
}

#libraryBtns #searchGame {
    grid-column: 6/span 2;
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
}

#libraryBtns #filterGames {
    grid-column: 10/span 2;
    font-size: 1.3vw;
    font-family: 'Poppins', sans-serif;
}

#libraryContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

article.game {
    grid-column: 3/span 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    margin: 50px 0;
    border: 1px var(--primary-color) solid;
    background-color: var(--custom-black);
    color: var(--primary-color);
}

article.game .gameImgContainer {
    position: relative;
    grid-column: 1/span 3;
    background-color: white;

}

article.game .gameImg {
    max-height: 95%;
    max-width: 95%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

article.game .gameStats {
    grid-column: 5/span 3;
}

article.game .gameStats h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

article.game .gameStats h2 {
    font-size: 1.2em;
    margin-bottom: 0;
}

article.game .gameStats p {
    font-size: 1em;
    margin: 0;
}

article.game .gameStats a {
    margin-top: 0;
    margin-bottom: 1em;
    text-decoration: underline;
    cursor: pointer;
}

.gameStats .gameDuration {
    margin-bottom: 2em;
}

#newGameForm {
    position: absolute;
    top: 0;
    left: 0;
    margin: 150px 7% 250px;
    padding: 1vw 0;
    box-sizing: border-box;
    width: 86%;
    min-height: calc(100vh - 300px);

    display: none;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr repeat(10, 2fr);
    grid-gap: 1vw;
    background-color: var(--primary-color);
}

#newGameForm #newGameSearch {
    grid-column: 2/span 5;
    grid-row: 1/span 1;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(5, 1fr);
}

#newGameForm #newGameSearch>input {
    font-size: 1.3vw;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    width: 100%;
    border: solid 1px var(--custom-black);
}

#newGameForm #newGameSearch>input[type="submit"] {
    grid-column: 4/ span 2;
    background-color: var(--custom-black);
    color: var(--primary-color);
}

#newGameForm #newGameSearchInput {
    grid-column: 1/span 3;
}

#exitNewGameForm {
    grid-column: 11/span 1;
    justify-self: end;
}

#newGameResults {
    grid-column: 2/span 10;
    grid-row: 2/ span 10;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vw;
}

#newGameResults>p {
    grid-column: 1/span 10;
}

.newGame {
    grid-column: span 5;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1vw;
    box-sizing: border-box;

    border: solid 1px var(--custom-black);
}

.newGame .newGameImgContainer {
    grid-column: 1/span 2;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.newGame .newGameImg {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newGame .newGameName {
    grid-column: 3/span 2;
    font-size: 1.5em;
    text-align: center;
}

.newGame .newGameAdd {
    grid-column: 5/span 1;
    text-align: center;
}

.newGame .newGameAdd>.hexagon {
    /* width: 100%; */
    font-size: 120%;
}

.newGameAdd>.addedGame:after {
    background-color: var(--forest-color);
}

section#gamenights {
    display: none;
}